/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    behaviors {
        new_behavior: new_behavior {
            compatible = "zmk,behavior-hold-tap";
            label = "NEW_BEHAVIOR";
            bindings = <&none>, <&none>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            bindings = <
&none  &kp Q        &lt 0 W         &lt 1 E          &lt 2 R           &lt 3 T           &lt 3 Y          &lt 2 U            &lt 1 I          &lt 0 O          &kp P           &none
&none  &mt LCTRL A  &mt LEFT_ALT S  &mt LS(LCTRL) D  &mt LEFT_SHIFT F  &mt LEFT_GUI D    &mt RIGHT_GUI H  &mt RIGHT_SHIFT J  &mt RIGHT_GUI K  &mt RIGHT_ALT L  &mt RCTRL SEMI  &none
&none  &kp Z        &kp X           &kp C            &kp V             &kp B             &kp N            &kp M              &kp COMMA        &kp DOT          &kp FSLH        &none
                                    &kp DEL          &kp LEFT_SHIFT    &kp BACKSPACE     &kp RET          &kp SPACE          &kp TAB
            >;
        };

        lower_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BKSP |
            // | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
            // | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&none  &kp GRAVE        &kp SQT             &kp LEFT_PARENTHESIS        &kp RIGHT_PARENTHESIS         &kp NON_US_BACKSLASH    &kp SLASH               &kp N7                    &kp N8            &kp N9                  &kp MINUS       &none
&none  &mt LCTRL MINUS  &mt LEFT_ALT EQUAL  &mt LS(LCTRL) LEFT_BRACKET  &mt LEFT_SHIFT RIGHT_BRACKET  &mt LEFT_GUI SQT        &mt RIGHT_GUI ASTERISK  &mt RIGHT_SHIFT NUMBER_4  &mt RS(RCTRL) N5  &mt RIGHT_ALT NUMBER_6  &mt RCTRL PLUS  &none
&none  &trans           &trans              &kp LEFT_BRACE              &kp RIGHT_BRACE               &trans                  &kp COMMA               &kp NUMBER_1              &kp NUMBER_2      &kp NUMBER_3            &kp PERIOD      &none
                                            &kp ESCAPE                  &trans                        &kp BACKSPACE           &kp N0                  &kp SPACE                 &kp EQUAL
            >;
        };

        raise_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BKSP |
            // | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
            // | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&kp TAB    &kp EXCL  &kp AT  &kp HASH  &kp DLLR  &kp PRCNT    &kp CARET  &kp AMPS   &kp ASTRK  &kp LPAR  &kp RPAR  &kp BSPC
&kp LCTRL  &trans    &trans  &trans    &trans    &trans       &kp MINUS  &kp EQUAL  &kp LBKT   &kp RBKT  &kp BSLH  &kp GRAVE
&kp LSHFT  &trans    &trans  &trans    &trans    &trans       &kp UNDER  &kp PLUS   &kp LBRC   &kp RBRC  &kp PIPE  &kp TILDE
                             &kp LGUI  &trans    &kp SPACE    &kp RET    &trans     &kp RALT
            >;
        };

        layer_3 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
                        &trans  &trans  &trans    &trans  &trans  &trans
            >;
        };
    };
};
